name: ci
on:
  push:
    branches:
      - "master"
  workflow_dispatch:
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: build & push upstream master off ubuntu
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            masterhax/jmusicbot:ubuntu-master
            masterhax/jmusicbot:ubuntu-master_${{ github.sha }}
            masterhax/jmusicbot:latest
          build-args: |
            UPSTREAM_VERSION=master
      - name: build & push upstream 0.3.9 off ubuntu
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            masterhax/jmusicbot:ubuntu-0.3.9
            masterhax/jmusicbot:ubuntu-0.3.9_${{ github.sha }}
          build-args: |
            UPSTREAM_VERSION=0.3.9